body {
    background-image: linear-gradient(to top, #89abeb, #73bcf3, #64cbf3, #66d9ee, #79e5e5);
    margin: 0px 0px;
}

a.link {
    text-decoration: none;
    color: #2196F3;
    border-bottom: solid 3px;

    padding-bottom: 0px;
    transition: padding-bottom 0.05s ease-in-out;
}

a.link:hover {
    padding-bottom: 3px;
}

a.link:visited, a.link:active {
    color: #1649d8;
}


/** NAVIGATION **/

header {
    background-color: darkslategrey;  
    transform: translateY(-30px);
    padding-top: 30px;
}

h1 {
    font-size: 2.3rem;
    background-color: aliceblue;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 20px;
    margin-left: 15px;
}

.navBar {
    background-color: darkslategrey;  
    overflow: hidden;
}

.navLink {
    float: left;
    padding: 18px 24px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    user-select: none;
}

.navLink:hover {
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: linear;

    background-color: aquamarine;
    color: black;
}

.navLink:active {
    background-color: rgb(86, 190, 155);
}

.navLink.clicked {
    background-color: rgb(86, 190, 155);
}





/** MAIN **/

main {
    margin: 20px 12vw;
    border-radius: 10px;
}

section {
    background-color: aliceblue;
    margin-bottom: 25px;
    padding: 20px 4vw;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);

    overflow: hidden;   /*Keeps img in p*/
}

article {
    padding: 20px 30px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 24px;
    font-size: 1.55rem;
    text-align: justify;
    line-height: 40px;
}

.imageLink {
    text-decoration: none;
}

.image {
    height: 500px;
    float: right;
    margin-left: 35px;

    border: solid darkslategrey 15px;
    border-radius: 10px;

    transition: transform 0.2s;
    transition-timing-function: linear;

    user-select: none;
}

.image:hover {
    border: solid 15px aquamarine;
    transform: scale(1.05);
}



@media screen and (max-width: 1200px) {
    main {
        margin: 20px 6vw;
    }
}


@media screen and (max-width: 480px) {
    main {
        margin: 20px 0vw;
    }

    .image {
        height: 150px;
        border: solid darkslategrey 5px;
    }
}




/** IMAGE WHEEL AND RADIO BUTTONS **/

#imageWheelWrapper {
    position: relative;
    margin-top: 60px;
    padding-top: 15px;
    height: 700px;
    border-radius: 10px;
    z-index: 10;

    color: aliceblue;
    background-color: darkslategray;
}

#imageWheel {
    font-size: 36px;
    text-align: center;
}

#radioBtnsLabel {
    margin-right: 15px;
    font-weight: bold;
}

.customRadioBtn {
    display: inline;
    margin-right: 40px;
    z-index: 20;
}

/* Hide default radio buttons */
.customRadioBtn input[type=radio] {
    position: absolute;
    opacity: 0; 
    cursor: pointer;   
    top: 30px;
    transform: scale(2.5);
    z-index: 5;

}

/* Create custom radio button */
.checkmark {
    position: absolute;
    margin-top: 10px;
    height: 26px;
    width: 26px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}

/* Hover over Button */
.customRadioBtn:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Custom Radio Button Checked - add blue */
.customRadioBtn input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create white dot for checked button - hidden */
.checkmark::after {
    content: '';
    display: none;
    position: absolute;
}

/* Show dot when checked */
.customRadioBtn input:checked ~ .checkmark::after {
    display: block;
}

/* Style dot */
.checkmark::after {
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}


/** Scroll Wheel Images **/
.scrollImageWrapper {
    position: absolute;
    width: 100%;
    transform: translateX(-4px);
}

.ScrollImage {
    position: absolute;
    border-radius: 10px;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);

    height: 0px;
    display: block;

    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

input:checked ~ .scrollImageWrapper .ScrollImage {
    display: fixed;

    height: 600px;

    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

input ~ .scrollImageWrapper #hadesImage1 {
    width: 1469px;
}

input ~ .scrollImageWrapper #hadesImage2 {
    width: 1068px;
}

input ~ .scrollImageWrapper #hadesImage3 {
    width: 1066px;
}

input ~ .scrollImageWrapper #slayTheSpireImage1 {
    width: 1200px;
}

input ~ .scrollImageWrapper #slayTheSpireImage2 {
    width: 900px;
}

input ~ .scrollImageWrapper #slayTheSpireImage3 {
    width: 1066px;
}

input ~ .scrollImageWrapper #deadCellsImage1 {
    width: 960px;
}

input ~ .scrollImageWrapper #deadCellsImage2 {
    width: 900px;
}

input ~ .scrollImageWrapper #deadCellsImage3 {
    width: 1140px;
}


/** MINI-IMAGE **/

.miniImageLink {
    position: relative;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: aliceblue;
    user-select: none;
    z-index: 2;

    transition: background-color 0.1s linear;
}

.miniImageLink:hover {
    background-color: rgb(177, 226, 226);
    cursor: pointer;
}

.miniImage {
    position: absolute;
    background-color: aliceblue;
    border-radius: 35% 35% 0% 0%;
    height: 125px;
    z-index: 0;
    
    opacity: 0%;
    transition: opacity 0.2s linear;
}


/** HADES MINI-IMAGES **/
.miniImageLink:hover + .miniImage {
    opacity: 100%;
}

.miniImage#stygius {
    transform: translate(-130%, -90%);
}

.miniImage#varatha {
    transform: translate(-130%, -90%);
}

.miniImage#aegis {
    transform: translate(-85%, -93%);
}

.miniImage#coronacht {
    transform: translate(-90%, -93%);
}

.miniImage#malphon {
    transform: translate(-100%, -74%);
}

.miniImage#exagryph {
    transform: translate(-90%, -90%);
}

.miniImage#chthonicKey {
    height: 75px;
    transform: translate(-140%, -103%);
}

.miniImage#titanBlood {
    height: 80px;
    z-index: 3;
    transform: translate(-130%, -105%);
}

#miniImageTitanBlood {
    z-index: 4;
}


/** SLAY THE SPIRE MINI-IMAGES **/
.miniImage#ironclad {
    transform: translate(-75%, -105%);
}

.miniImage#silent {
    transform: translate(-70%, -105%);
}

.miniImage#defect {
    transform: translate(-75%, -105%);
}

.miniImage#watcher {
    transform: translate(-72%, -105%);
}


/** DEAD CELLS **/
.deadCellsGearList li {
    list-style-type: none;
    font-size: 24px;
    font-size: 1.55rem;
    text-align: justify;
    line-height: 40px;
}

.sublist {
    margin-left: 30px;
}

.boldPlus {
    font-family: impact, fantasy;
}


/** DEFINITION LIST **/

dt {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 40px;
    position: relative;
}

dd {
    font-size: 24px;
    font-size: 1.55rem;
    text-align: justify;
    line-height: 40px;
    margin-bottom: 15px;
    position: relative;
}





/** MEDIA QUERIES **/

@media screen and (max-width: 2100px) {

    #imageWheelWrapper {
        height: 450px;
    }
    
    input:checked ~ .scrollImageWrapper .ScrollImage {
        height: 300px;
    }

    input ~ .scrollImageWrapper #hadesImage1 {
        width: 734px;
    }
    
    input ~ .scrollImageWrapper #hadesImage2 {
        width: 534px;
    }
    
    input ~ .scrollImageWrapper #hadesImage3 {
        width: 533px;
    }
    
    input ~ .scrollImageWrapper #slayTheSpireImage1 {
        width: 600px;
    }
    
    input ~ .scrollImageWrapper #slayTheSpireImage2 {
        width: 450px;
    }
    
    input ~ .scrollImageWrapper #slayTheSpireImage3 {
        width: 533px;
    }
    
    input ~ .scrollImageWrapper #deadCellsImage1 {
        width: 480px;
    }
    
    input ~ .scrollImageWrapper #deadCellsImage2 {
        width: 450px;
    }
    
    input ~ .scrollImageWrapper #deadCellsImage3 {
        width: 570px;
    }
}


@media screen and (max-width: 1000px) {

    #imageWheel {
        font-size: 26px;
    }

    #imageWheelWrapper {
        height: 260px;
    }
    
    input:checked ~ .scrollImageWrapper .ScrollImage {
        height: 150px;
    }

    input ~ .scrollImageWrapper #hadesImage1 {
        width: 367px;
    }
    
    input ~ .scrollImageWrapper #hadesImage2 {
        width: 267px;
    }
    
    input ~ .scrollImageWrapper #hadesImage3 {
        width: 266px;
    }
    
    input ~ .scrollImageWrapper #slayTheSpireImage1 {
        width: 300px;
    }
    
    input ~ .scrollImageWrapper #slayTheSpireImage2 {
        width: 225px;
    }
    
    input ~ .scrollImageWrapper #slayTheSpireImage3 {
        width: 266px;
    }
    
    input ~ .scrollImageWrapper #deadCellsImage1 {
        width: 240px;
    }
    
    input ~ .scrollImageWrapper #deadCellsImage2 {
        width: 225px;
    }
    
    input ~ .scrollImageWrapper #deadCellsImage3 {
        width: 285px;
    }
}