body {
    background-color: rgb(177, 226, 226);
    margin: 0px 0px;
}


/** NAVIGATION **/

header {
    background-color: darkslategrey;  
    transform: translateY(-30px);
    padding-top: 30px;
}

h1 {
    font-size: 2.3rem;
    background-color: aliceblue;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 20px;
    margin-left: 15px;
}

.navBar {
    background-color: darkslategrey;  
    overflow: hidden;
}

.navLink {
    float: left;
    padding: 18px 24px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    user-select: none;
}

.navLink:hover {
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: linear;

    background-color: aquamarine;
    color: black;
}

.navLink:active {
    background-color: rgb(86, 190, 155);
}

.navLink.clicked {
    background-color: rgb(86, 190, 155);
}





/** MAIN **/

main {
    margin: 20px 12vw;
    border-radius: 10px;
}

section {
    background-color: aliceblue;
    margin-bottom: 25px;
    padding: 20px 4vw;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);

    overflow: hidden;   /*Keeps img in p*/
}

article {
    padding: 20px 30px;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 24px;
    font-size: 1.55rem;
    text-align: justify;
    line-height: 40px;
}

.imageLink {
    text-decoration: none;
}

.image {
    height: 500px;
    float: right;
    margin-left: 35px;
    margin-bottom: 40px;

    border: solid darkslategrey 15px;
    border-radius: 10px;

    transition: transform 0.2s;
    transition-timing-function: linear;

    user-select: none;
}

.image:hover {
    /* border: none; */
    transform: scale(1.05);
}



@media screen and (max-width: 1200px) {
    main {
        margin: 20px 6vw;
    }
}


@media screen and (max-width: 480px) {
    main {
        margin: 20px 0vw;
    }

    .image {
        height: 150px;
        border: solid darkslategrey 5px;
    }
}




/** HADES PAGE **/

.hadesImageWheel {
    width: 900px;
}